		

		* {
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;			
		}

		body{
			overflow-x: hidden;
			font-family: 'Poppins', sans-serif;
			/*background-image: url('background4.png');*/
			background:#fff;
			/*background-image: url("images/background.jpeg");*/
			background-size: cover;
			background-repeat: no-repeat;
			scroll-behavior: smooth;
		}
		button {
			font-family: 'Poppins', sans-serif;
		}

		header {
			display: flex;
			width: 100%;
			height: 8vh;
			align-items: center;
			/*background-color: #000033;*/
			background: #3b5998;

		}
		form {
			 /*border-radius:24px;
			  background-color: #e3e2de;
			  padding: 20px;
			  border-style: dotted;
			  */
			}
			
		nav .active
		{
			background-color: red;
		}
		/*home
		{
			background-image: url("images/background.jpeg");
			background-size: cover;
			background-repeat: no-repeat;

		}
		*/
		.left-side
		{
			width: 35%;
			height: 100vh;
			background-color:#e3e4e6;
		}
		.right-side
		{
			width:100%;
			background-color:#ECE5DD;
			background-image: url('images/chat_bg.png');

		}
		.chat_bg
		{
			font-size: 20px;
		}
			

		}
		.date_created
		{
			font-size: 12px;
		}

		.message
		{
			/*border-radius: 24px;
			background-color: #e3e2de;
			border-style: solid;
			border-color: #0475b9;
			width: 50%;
			*/
		}

		.most-used
		{
			width: 100%;
			height: auto;
			background-color:#3275a8;
		}

		.login, .signup
		{
			/*background-image: url("images/backgroundpic.jpeg");*/
			background-color: white;
			background-size: cover;
			background-repeat: no-repeat;
		}

		ul li a:hover
		{
			color:#fff;
		}


		input[type=email],input[type="text"],input[type="password"],input[type="date"],input[type="number"],select

		{
			display:block;
			width:25%;
			border:2px solid steelblue;
			background-color:#fcfcfa;
			border-radius: 24px;
			outline:none;
			padding: 5px;
			margin: 5px;
		}
		#message
		{
			display:block;
			width:90%;
			border:1px solid steelblue;
			background-color:#fcfcfa;
			border-radius: 24px;
			outline:none;
			padding: 10px;
			
		}
		
		input[type="submit"],input[type="reset"]
		{
			border:0;
			background: #000033;
			margin:1px auto;
			text-align: center;
			border:0px solid #2ecc71;
			padding:5px 10px;
			width: 100px;
			outline: none;
			color: white;
			border-radius: 24px;
			transition: 0.2s;
			cursor: pointer;

		}
		input[value="RESET"]:hover,input[value="DELETE"]:hover
		{
			background:red;
		}
		input[value="UPDATE"]:hover,input[value="ADD"]:hover,input[value="OK"]:hover,input[value="EDIT"]:hover,input[value="REGISTER"]:hover
		{
			background: green;
		}

		.logo-container {
			flex:0.2;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;

		}

	
		.nav-links {
			justify-content: space-around;
			list-style: none;
			letter-spacing: 2px;
			position: absolute;
			display: flex;
			width: 80%;


			
		}
		.nav-link {
			 color: #fff;
			  text-transform: uppercase;
			  text-decoration: none;
			  letter-spacing: 0.15em;
			  display: inline;
			  padding: 0px;
			  position: relative;
			  background: #3b5998;
			  font-weight: bold;
			  margin-right: 1
			
		}


		.drop-down{
			  color: #fff;
			  text-decoration: none;
			  display: block;
			  position: relative;
			  background: #3b5998;
			  font-size: 20px;
			  text-align: center;
		}

		a:after {    
			  background: none repeat scroll 0 0 transparent;
			  bottom: 0;
			  content: "";
			  display: block;
			  height: 2px;
			  left: 50%;
			  position: absolute;
			  background: #fff;
			  transition: width 0.3s ease 0s, left 0.3s ease 0s;
			  width: 0;
			}
		a:hover:after { 
		  width: 100%; 
		  left: 0; 
		}
		/* ******************THE COPIED CSS IS OVER HERE***************/*
		.nav-links li .drop-down
		{
			float: none;
			list-style: none;


		}
		ul li ul li
		{
			display:none;
		}

		ul li:hover ul li{
			display: inherit;
			transition:0.5s;
		}	
		.sub-dropdown
		{	
			list-style: none;
			color: white;
			display: block;
			text-decoration: none;
			font-size: 20px;
			text-align:center;
			font-family: sans-serif;
			background-color:#3b5998;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			display: none;
			z-index: 1;
		}
		ul li ul li:hover .sub-dropdown
		{

			display: block;
			position: absolute;
			margin-top: -40px;
			margin-left: 160px;

		}
		.burger
		{
			display: none;
		}
		.burger div
		{
			width: 25px;
			height: 3px;
			margin: 4px;
			background-color: #fcfcfa;
			transition: 0.3s ease;
		}
		footer
		{
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			color: white;
			background-color: #000012;
		}
		.form-horizontal
		{
			border-radius: 24px;
			background-color: #e3e2de;
			border-style: solid;
			align-items: center;
			border-color: #0475b9;
			  
		}

		@media screen and (max-width: 1000px){
		    body
			{
				overflow-x: hidden;
				width: 		
			}

			ul li ul li
			{
				display: none;
			}

			.nav-link
			{
				
				display: flex;
				justify-content: space-around;
				width: 100%;
				font-size: 10px;
				padding:0px;
				margin: 0px;

			}
		}

		@media screen and (max-width: 768px) {
			body
			{
				overflow-x: hidden;
				width: 100%;
				
			}
			ul li ul li
			{
				display: none;
			}

			.nav-links {
				position: absolute;
				right: 0px;
				height: 92vh;
				top: 7vh;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				transform:translateX(100%);
				transition: transform 0.5s ease-in;
				background-color: #3b5998;
				opacity: 100%;

			}
			.nav-link{
				font-size: 15px;
				height: 5%;
				
				
			}
			.burger{
				display: block;
			}
			.login{
				display: none;
			}
			.search
			{
				display: flex;
			}
			input[type=email],input[type="text"],input[type="password"],input[type="date"],input[type='number'],select
			{
				display:block;
				width:50%;
				border:2px solid steelblue;
				background-color:#fcfcfa;
				border-radius: 24px;
				outline:none;
				padding: 5px;
				margin: 5px;
			}

			input[type="submit"],input[type="reset"]
			{
				border:0;
				background: #000033;
				margin:1px auto;
				text-align: center;
				border:0px solid #2ecc71;
				padding:5px 10px;
				width: 100px;
				outline: none;
				color: white;
				border-radius: 24px;
				transition: 0.2s;
				cursor: pointer;

			}
			.table
			{
				font-size: 9px;
				width: 50%;
			}
		}
			.nav-active
		{
			transform: translateX(0%);
		}

		.toggle .line1
		{
			transform: rotate(-45deg)translate(-5px,5px);
		}
		.toggle .line2{
			opacity: 0;
		}
		.toggle .line3{
			transform: rotate(45deg)translate(-5px,-5px);
		}



